<% var error %> 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
  </head> 
    <div class="login-page">
      <div class="form">
        <form method="post" action="/admin/login" class="login-form">
          <h2>Admin</h2>
          <% if (error) { %>
            <p><%= error %> </p>
          <% } %>  
          <input name="email" type="text" placeholder="login" />
          <input name="password" type="password" placeholder="password" />
          <button type="submit">login</button>
          </form>
      </div>
    </div>
  </body>
</html>