    <script src="/admin/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/admin/js/bootstrap.bundle.min.js"></script>

    <script src="/admin/vendors/apexcharts/apexcharts.js"></script>
    <script src="/admin/js/pages/dashboard.js"></script>

    <script src="/admin/js/main.js"></script>
  </body>
</html>